<match keyword.**>
    @type copy

    <store>
        @type elasticsearch
        host elasticsearch
        port 9200
        logstash_format true
        logstash_prefix keyword
        flush_interval 1s
    </store>

    <store>
        @type file
        path /var/log/fluent/keyword/${tag}.log
        compress gzip
        <buffer tag>
            timekey 1d
            timekey_use_utc true
            timekey_wait 10m
        </buffer>
    </store>
</match>
